In [1]:
import pandas as pd
import numpy as np
import sys
df =pd.read_excel("sequenceInput.xlsx")

In [2]:
#Read input file
data =pd.read_excel("sequenceInput.xlsx")
data=data[data['Organism'].str.contains("Homo sapiens")] #Selecting only organism which contains 'Homo sapiens'
data=data.dropna().reset_index(drop=True) # Drop all rows which contains Not a number and reset the index

In [3]:
#Code to find the pattern 
pattern_position = pd.Series(len(data),dtype=np.str)
for i in range(len(data)):
    pattern_position[i]=''
    
for i in range(len(data['Sequence'])):
    for j in range(len(data['Sequence'][i])-3):
        if(data['Sequence'][i][j]=='C'):
            if(data['Sequence'][i][j+3]=='C'):
                pattern_position[i]=pattern_position[i]+str(j)+' , '

In [4]:
data['Pattern C-X-X-C']= pattern_position

In [5]:
data.to_excel('Pattern C-X-X-C.xlsx')

In [6]:
#Other Part Reading another file

In [7]:
#Read input file
data1 =pd.read_csv("PDB_chains_(SCOP_1.75)_52833.tab",sep='\t',names=["Entry","Sequence"])
data1=data1.dropna().reset_index(drop=True) # Drop all rows which contains Not a number and reset the index

In [18]:
merge_data= pd.merge(data['Sequence'], data1['Sequence'],how='inner')

In [19]:
merge_data

                                            Sequence
0  MVKQIESKTAFQEALDAAGDKLVVVDFSATWCGPCKMIKPFFHSLS...
1  MSYMLPHLHNGWQVDQAILSEEDRVVVIRFGHDWDPTCMKMDEVLY...
2  MARYEEVSVSGFEEFHRAVEQHNGKTIFAYFTGSKDAGGKSWCPDC...
3  MAQEFVNCKIQPGKVVVFIKPTCPYCRRAQEILSQLPIKQGLLEFV...

0       P04439
1       P01911
2       P01889
3       P08246
4       P10144
         ...
3583    A8MPY1
3584    P28799
3585    O00222
3586    Q8IXB1
3587    O95395
Name: Entry, Length: 3588, dtype: object